[data-drag-detector-effect] {
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0.5;
}

[data-drag-detector-effect="right"] {
    transform: translateX(5vw);
}

[data-drag-detector-effect="left"] {
    transform: translateX(-5vw);
}

[data-drag-detector-effect="up"] {
    transform: translateY(-5vh);
}

[data-drag-detector-effect="down"] {
    transform: translateY(5vh);
}
